@charset "utf-8";
.toggle{
    width: 48px;height: 48px;border: 1px solid #aaa;
    position: relative;cursor: pointer;
}
.toggle div{
    width: 24px;height: 3px;background:#aaa;
    border-radius:1.5px;
    position: absolute;left: 50%;
    margin-left: -12px;
}
.toggle div.bar1{top: 12px;}
.toggle div.bar2{top: 21px;}
.toggle div.bar3{top: 30px;}


@media screen and (max-width:699px){
    #header{padding: 4px 16px;background:skyblue;}
    #header .topWrap{display: none;}
    #header .navWrap{display: none;}
    .toggle{display: block;}  
    #header .logoWrap{}
    #header .logoWrap h1{float: left;}  
    #header .logoWrap .toggle{float: right;}  
}
@media screen and (min-width:700px){
    
}